* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #153677, #4e085f);
  padding: 10px;
}

.to-do-app {
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.to-do-app h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-app img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  gap: 10px;
}

input {
  flex: 1;
  border: none;
  /* background: transparent; */
  outline: none;
  padding: 10px;
  font-weight: 14px;
  border-radius: 40px;
  background-color: #ffe0b5;
}

button.btn {
  margin-right:10px;
  border: none;
  background: none;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #4c2719;
  border-radius: 40px;
}

button.delete{
  margin-right:40px;
}

ul li {
  list-style: none;
  /* margin:10px; */
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  color: black;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  color: black;
  border-radius: 50%;
  background-image: url(To-Do-Img/images/unchecked.png);
  background-size: cover;
  /* background-position: center; */
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(To-Do-Img/images/checked.png);
}

.list-container {
  color: black;
}

ul li button {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 50px;
  height: 30px;
  color: black;
  line-height: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

ul li button:hover {
  background-color: rgb(192, 195, 197);
  cursor: pointer;
}
